<div class="container" *ngIf="modo==1">

    <mat-icon routerLink="home/" class="mat-18" style="color: white; cursor:pointer ">arrow_back</mat-icon>


    <div style="border-bottom: 1px solid white; color: white;" class="text-right">
        <h6>¿Que deseas pedir?</h6>
    </div>
    <form [formGroup]="formLoQueSea">
        <div class="mx-3 mt-4" style="color: white;">
            <mat-form-field style="width: 100%;" appearance="outline" color="accent">
                <mat-label>Descripción del pedido <strong>*</strong></mat-label>
                <textarea formControlName="Descripcion" cdkAutosizeMinRows="5" cdkTextareaAutosize matInput></textarea>
                <mat-error *ngIf="formLoQueSea.controls.Descripcion.invalid && (formLoQueSea.controls.Descripcion.dirty || formLoQueSea.controls.Descripcion.touched)">
                    <mat-error *ngIf="formLoQueSea.controls.Descripcion.errors.required">
                        Campo <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="formLoQueSea.controls.Descripcion.errors.maxlength">
                        Demasiados <strong>caracteres</strong>
                    </mat-error>
                </mat-error>
            </mat-form-field>

        </div>
    </form>

    <div class="mx-3 mt-1 d-flex align-items-center" style="color: white;">
        <label class="mr-3 mb-0">Agregar imagen (JPG): </label>
        <button mat-mini-fab color="accent" style="outline: none;" (click)="imgUpload.click()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <input style="display: none" type="file" (change)="onSelectImage($event); imgUpload.value = '' " #imgUpload>

    <div class="image-area mt-5 ml-5" *ngIf="imageUrl">
        <img [src]="imageUrl" height="150" alt="Preview">
        <button class="remove-image" (click)="imageUrl=null;" style="display: inline;">&#215;</button>
    </div>


    <div class="mx-3 mt-5 d-flex justify-content-end" style="color: white;">
        <button mat-raised-button color="accent" style="outline: none;" (click)="cambiarModo('select_origen')">
            Continuar
            <mat-icon>forward</mat-icon>
        </button>
    </div>
</div>

<div class="container" *ngIf="modo==2">

    <mat-icon (click)="ngOnInit()" class="mat-18" style="color: white; cursor: pointer">arrow_back</mat-icon>


    <div style="border-bottom: 1px solid white; color: white;" class="text-right">
        <h6>Seleccionar {{ seleccionar }}</h6>
    </div>

    <form [formGroup]='formDirLocal'>
        <mat-form-field class="mt-4" style="width: 100%; color: white" appearance="outline" color="accent">
            <mat-label>Ciudad *</mat-label>
            <mat-select formControlName="Ciudad" style="color:white">
                <mat-option *ngFor="let ciudad of cities" [value]="ciudad.value">
                    {{ciudad.city}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="row">
            <div class="col-8">
                <mat-form-field style="width: 100%; color: white" appearance="outline" color="accent">
                    <mat-label>Calle *</mat-label>
                    <input formControlName="Calle" matInput>
                    <mat-error *ngIf="formDirLocal.controls.Calle.invalid && (formDirLocal.controls.Calle.dirty || formDirLocal.controls.Calle.touched)">
                        <mat-error *ngIf="formDirLocal.controls.Calle.errors.required">
                            Campo <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="formDirLocal.controls.Calle.errors.maxlength">
                            Demasiados <strong>caracteres</strong>
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field style="width: 100%; color: white" appearance="outline" color="accent">
                    <mat-label>Número *</mat-label>
                    <input formControlName="Numero" matInput>
                    <mat-error *ngIf="formDirLocal.controls.Numero.invalid && (formDirLocal.controls.Numero.dirty || formDirLocal.controls.Numero.touched)">
                        <mat-error *ngIf="formDirLocal.controls.Numero.errors.required">
                            Campo <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="formDirLocal.controls.Numero.errors.pattern">
                            Número <strong>inválido</strong>
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field style="width: 100%; color: white" appearance="outline" color="accent">
            <mat-label>Descripcion</mat-label>
            <input formControlName="Descripcion" matInput>
        </mat-form-field>
    </form>
    <div class="mt-4" style="color: white;">
        <agm-map (mapClick)="addMarker($event)" [latitude]="-31.425459" [longitude]="-64.184819" [zoom]="15">
            <agm-marker [latitude]="marker.lat" [longitude]="marker.long"></agm-marker>
        </agm-map>
    </div>
    <div class="mx-3 mt-5 d-flex justify-content-end" style="color: white;">
        <button mat-raised-button color="accent" style="outline: none;" (click)="cambiarModo('select_destino')">
            Continuar
            <mat-icon>forward</mat-icon>
        </button>
    </div>
</div>